footer {
  color: #fff;
  background: #000;
  padding: 48px 0;
  font-weight: 500;
  -webkit-box-shadow: 0 4px 25px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 25px -5px rgba(0, 0, 0, 0.4);
}

.link-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  color: #fff;
}
.link-developer span {
  font-weight: 500;
  line-height: 18px;
  opacity: 0.48;
}
.link-developer img {
  max-width: 40px;
  margin: 0 0 0 8px;
}

.menu-documents {
  font-weight: 500;
  line-height: 18px;
}
.menu-documents li {
  margin: 0 0 14px;
}
.menu-documents li:last-child {
  margin: 0;
}
.menu-documents li a {
  color: #fff;
}
.menu-documents li a:hover {
  opacity: 0.6;
}

.footer-column {
  margin: 0 48px;
}

.footer-link {
  margin: 14px 0 0;
}

/* Modal */
.modal-dialog {
  max-width: 1000px;
  margin: 20px auto;
}

.modal-content {
  border: none;
  border-radius: 12px;
  background: #fff;
  padding: 32px;
  width: 100%;
  max-width: none;
}

.modal-header {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 0 32px;
}
.modal-header .btn-close {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000;
  padding: 6px;
  margin: 0;
  position: relative;
  z-index: 1;
  opacity: 1;
  width: 24px;
  min-width: 24px;
  height: 24px;
  stroke: #fff;
  fill: #fff;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-title {
  margin: 0 auto 0 0;
}

.modal-body {
  padding: 0;
}

.modal-backdrop.show {
  opacity: 0.2;
}

.popular-cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 32px;
}
.popular-cities:last-child {
  margin: 0;
}

/* Chips */
.chip {
  padding: 10px 24px;
  border-radius: 18px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  height: auto;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  cursor: pointer;
}
.chip:hover {
  border-color: #000;
}
.chip.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

/* Districts */
.districts-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.districts {
  margin: 0 0 32px;
}

.districts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

/* Cities list */
.cities-wrapper {
  max-height: 484px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 -48px 32px -32px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 -48px 32px -32px rgba(0, 0, 0, 0.05);
}

.scroll-vertical {
  overflow-y: auto;
  padding-right: 10px;
}
.scroll-vertical::-webkit-scrollbar {
  width: 4px;
}
.scroll-vertical::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-vertical::-webkit-scrollbar-thumb {
  background: #9A9C9F;
  border-radius: 4px;
}

.cities-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cities-col-list {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 0 0 28px;
}

.cities-col a {
  display: block;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 20px;
}
.cities-col a:hover {
  text-decoration: underline;
  color: #AA8C72;
}

.letter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 0;
}

.list-checkbox-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 16px;
}
.list-checkbox-row .label-checkbox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 24px 16px 0;
}
.list-checkbox-row .label-checkbox:last-child {
  margin: 0;
}

.modal-md .modal-dialog {
  max-width: 800px;
}

.form-order .label-title {
  text-align: left;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.form-order textarea {
  height: 68px;
  background: #fff;
  color: #000;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.form-order [type=submit] {
  margin: 32px 0 0;
}

.files-results {
  width: 100%;
  margin: 32px 0 12px;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.file-result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.file-result-item__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  stroke: #fff;
  padding: 4px;
}

.label-file {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 24px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.label-file img {
  margin: 0 10px 0 0;
  width: 12px;
}
.label-file input {
  display: none;
}
.label-file__description {
  margin: 12px 0 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: 14px;
}
.label-file:hover {
  border-color: #000;
}

[name=message_company] {
  padding: 0 16px 0 60px;
  background: url("../img/mail-input.svg") no-repeat 24px center;
  background-size: 24px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.map-modal {
  width: 100%;
  height: 536px;
  border-radius: 12px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.map-modal iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-sm .modal-dialog {
  max-width: 600px;
}

.contacts-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.contacts-item__name {
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  opacity: 0.48;
  display: block;
}
.contacts-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}
.contacts-item__link:hover {
  color: #383E40;
}
.contacts-item__link img {
  margin: 0 8px 0 0;
}

.form-reviews label {
  margin: 0 0 32px;
}
.form-reviews label:last-child {
  margin: 0;
}