footer {
  color: #fff;
  background: #000;
  padding: 48px 0;
}

.link-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  color: #fff;
}
.link-developer span {
  font-weight: 500;
  line-height: 18px;
  opacity: 0.48;
}
.link-developer img {
  max-width: 40px;
  margin: 0 0 0 8px;
}

.menu-documents {
  font-weight: 500;
  line-height: 18px;
}
.menu-documents li {
  margin: 0 0 14px;
}
.menu-documents li:last-child {
  margin: 0;
}
.menu-documents li a {
  color: #fff;
}
.menu-documents li a:hover {
  opacity: 0.6;
}

.footer-column {
  margin: 0 48px;
}