header {
  padding: 20px 0;
  background: #fafafa;
}

.logo {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}
.nav-user__btn {
  width: 48px;
  height: 48px;
  min-width: 48px;
  margin: 0 8px 0 0;
  padding: 16px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-user__btn:hover {
  background: #383E40;
}
.nav-user__btn:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.nav-user__btn:last-child {
  margin: 0;
}

.header {
  padding: 0;
  background: #f6f6f6;
  position: relative;
  z-index: 1;
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  opacity: 0.05;
  background: #000;
}

.nav-menu {
  margin: 0 0 0 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.menu li {
  padding: 8px 0 0;
}
.menu li a {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-top: 2px solid transparent;
}
.menu li a.active {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}