@charset "UTF-8";
.authorization {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-authorization {
  max-width: 904px;
  width: 100%;
  margin: 0 auto;
}
.form-authorization .btn-login {
  margin: 0 auto;
  min-width: 200px;
}
.form-authorization .form-footer span {
  opacity: 0.6;
  display: block;
}
.form-authorization .form-footer a {
  margin: 4px auto 0;
}

.form-footer {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin: 24px auto 0;
}

.agreement-content {
  font-size: 14px;
  line-height: 22px;
}
.agreement-content p {
  margin: 0 0 24px;
}
.agreement-content p:last-child {
  margin: 0;
}

.form-box {
  width: 100%;
  position: relative;
  z-index: 1;
}
.form-box::after {
  content: "";
  margin: 8px 0 32px;
  display: block;
  width: 100%;
  height: 18px;
  background: url("../img/line-decor.png") no-repeat center;
  background-size: 100%;
}
.form-box:last-child {
  margin: 0;
}
.form-box:last-child::after {
  display: none;
}

.text-required {
  margin: 8px 0 32px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 22px;
}

.consent {
  margin: 16px 0 0;
  font-size: 14px;
  line-height: 22px;
}

.form-registration .label-title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.thanks-page h1 {
  margin: 0 auto;
}
.thanks-page .box-text {
  margin: 24px auto 40px;
  text-align: center;
  font-weight: 500;
}

.thanks-checked {
  margin: 0 auto 16px;
  max-width: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-authorization {
  min-width: 300px;
}

.btn-registration {
  min-width: 200px;
}

.error-page__img {
  width: calc(100% - 414px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.error-page__content {
  max-width: 414px;
}

.sidebar {
  max-width: 300px;
}
.sidebar .user-menu__divider {
  margin: 40px 0;
}

.sidebar-btn__close {
  position: absolute;
  top: 30px;
  right: 6px;
  z-index: 1;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.sidebar-block, .category-dropdown {
  margin: 0 0 40px;
}
.sidebar-block:last-child, .category-dropdown:last-child {
  margin: 0;
}

.sidebar-title {
  margin: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.sidebar-title::after {
  content: "";
  width: 100%;
  height: 10px;
  background: url("../img/line-decor.png") no-repeat center;
  background-size: cover;
  margin: 0 0 0 16px;
}

.sidebar-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 20px;
}
.sidebar-tags:last-child {
  margin: 0;
}
.sidebar-tags__selected {
  font-size: 14px;
  margin: 0 0 8px;
  padding: 8px 24px 8px 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}
.sidebar-tags__selected:last-child {
  margin: 0;
}
.sidebar-tags__selected:hover .sidebar-tags__selected-icon {
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-tags__selected:hover .sidebar-tags__selected-icon img {
  -webkit-filter: none;
          filter: none;
}
.sidebar-tags__selected-icon {
  margin: 0 16px 0 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidebar-tags__selected-icon img {
  width: 100%;
  margin: 0;
}
.sidebar-tags__selected-text {
  max-width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.sidebar-tags__selected.btn-black-grey .sidebar-tags__selected-icon {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-actions .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 14px 0 0;
}
.sidebar-actions .btn:last-child {
  margin: 0;
}

.form-search {
  margin: 0 0 32px;
  position: relative;
}
.form-search input {
  height: 68px;
  padding: 0 20px 0 80px;
  font-size: 14px;
}
.form-search [type=submit] {
  position: absolute;
  left: 32px;
  top: 26px;
  z-index: 1;
  background: transparent;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-search label {
  margin: 0;
}

.filter-vat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.05);
  padding: 2px;
}
.filter-vat__item {
  cursor: pointer;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.filter-vat__item input {
  display: none;
}
.filter-vat__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 44px;
  padding: 14px;
  border-radius: 11px;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.filter-vat__item input:checked + span {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
}

.filter-vat-dropdown {
  z-index: 0;
}

.filter-vat-dropdown.dropdown-menu.show {
  z-index: 10;
}

.filter-price__prices {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 22px 0 0;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.filter-price__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}
.filter-price__inputs input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 48px;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}
.filter-price__inputs span {
  width: 10px;
  display: block;
  height: 4px;
  background: rgba(0, 0, 0, 0.05);
}

#price-slider {
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  margin: 0 0 22px;
}
#price-slider .ui-slider-range {
  background: #20815C;
}
#price-slider .ui-slider-handle {
  width: 32px;
  height: 32px;
  top: -16px;
  border-radius: 50%;
  background: #fff;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
}
#price-slider .ui-slider-handle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#price-slider .ui-slider-handle:focus {
  outline: none;
}

.product-card {
  width: 100%;
  height: 100%;
}
.product-card__img {
  position: relative;
  z-index: 1;
  height: 244px;
  width: 100%;
  overflow: hidden;
  border-radius: 24px;
  bgackground: rgba(0, 0, 0, 0.02);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-card__img.p-32 {
  padding: 32px;
  background: rgba(0, 0, 0, 0.02);
}
.product-card__img img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.product-card .list-labels {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  font-weight: bold;
}
.product-card .link-add-favorite {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
}
.product-card .link-add-favorite:hover, .product-card .link-add-favorite:focus, .product-card .link-add-favorite.active {
  background: url("../img/favorite-icon-green.svg") no-repeat center;
  background-size: 100%;
}
.product-card__body {
  width: 100%;
  padding: 24px 0 0;
}
.product-card__name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
}
.product-card__name:hover {
  color: #383E40;
}
.product-card .price {
  margin: 16px 0 0;
}
.product-card__address {
  margin: 16px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.watched-slider .slick-list {
  margin: 0 -8px;
}
.watched-slider .slide {
  padding: 0 8px;
}

.subsections {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.subsection-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #000;
  padding: 12px 24px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.05);
}
.subsection-link img {
  width: 12px;
  margin: 0 10px 0 0;
}

.content-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-filters .filter-vat {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 24px 0 0;
}
.content-filters .filter-vat:last-child {
  margin: 0;
}
.content-filters .content-filters__vat {
  margin: 0 auto 0 0;
}

.products {
  width: 100%;
}

.product-card-row {
  position: relative;
  z-index: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.product-card-row__col {
  padding: 32px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 252px;
}
.product-card-row__col:last-child {
  border: none;
  padding-right: 0;
}
.product-card-row__col:first-child {
  padding-left: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product-card-row__col.col-2 .product-card__address {
  display: none;
}
.product-card-row__col.col-2 .product-card__info {
  display: none;
}
.product-card-row__col.col-4 .product-card__btn-characteristics {
  display: none;
}
.product-card-row .product-img {
  width: 90px;
  height: 90px;
  min-width: 90px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-card-row .product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.product-card-row .product-img.p-10 {
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
}
.product-card-row .list-labels {
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 6px 0 0;
  margin: 0 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.product-card-row .list-labels li {
  margin: 0 0 8px;
}
.product-card-row .list-labels li:last-child {
  margin: 0;
}
.product-card-row .product-card__address {
  margin: 4px 0 0;
}
.product-card-row .price {
  margin: 0;
}
.product-card-row .avialability {
  margin: 8px 0 0;
  font-size: 12px;
  line-height: 14px;
}
.product-card-row__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product-card-row__body .product-card__address {
  display: none;
}
.product-card-row__body .product-img {
  display: none;
}
.product-card-row__head {
  width: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 12px;
}
.product-card-row__head .list-labels {
  margin: 0;
}

.date-public {
  padding: 6px 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  margin: 18px 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.products-list-item {
  margin: 0 0 24px;
}
.products-list-item:last-child {
  margin: 0;
}
.products-list-item.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.professional-status, .status-item {
  margin: 0 8px 0 0;
}
.professional-status:last-child, .status-item:last-child {
  margin: 0;
}

.professional-status {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 9px;
  line-height: 10px;
  font-weight: bold;
}
.professional-status.bg-green {
  background: #20815C;
  color: #fff;
}

.product-meta {
  font-size: 12px;
  line-height: 14px;
  margin: 8px 0 0;
}

.product-card__company {
  margin: 0 0 8px;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.product-card-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__favorite {
  width: 16px;
  height: 16px;
  margin: 0 0 0 auto;
  background: url("../img/favorite-icon-black.svg") no-repeat center;
  background-size: 100%;
}
.product-card__favorite:hover, .product-card__favorite:focus, .product-card__favorite.active {
  background: url("../img/favorite-icon-green.svg") no-repeat center;
  background-size: 100%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.rating-icon {
  margin: 0 4px 0 0;
}

.rating-notification {
  margin: 0 0 0 4px;
  background: rgba(0, 0, 0, 0.48);
  color: #fff;
  padding: 4px 7px;
  font-size: 10px;
  font-weight: bold;
  line-height: 8px;
  border-radius: 10px;
}

.products-footer {
  margin: 20px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.pagination li {
  margin: 0 10px 0 0;
}
.pagination li:last-child {
  margin: 0;
}
.pagination a {
  border-radius: 24px;
  width: 58px;
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination a:hover, .pagination a:focus, .pagination a.active {
  background: #000;
  color: #fff;
  stroke: #fff;
}
.pagination a:hover svg, .pagination a:focus svg, .pagination a.active svg {
  stroke: #fff;
}
.pagination a svg {
  stroke: #000;
  fill: none;
  width: 6px;
  height: 9px;
}
.pagination .nav-link-arrow.disabled svg {
  opacity: 0.6;
}
.pagination .nav-link-arrow.nav-link-arrow-next svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content-filters__pages {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 auto;
}
.content-filters__pages span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.products-column .product-column-item {
  margin-bottom: 24px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 32px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.products-grid .product-card__body {
  padding: 23px;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 16px 0 0;
}
.products-grid .product-card__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 0;
}
.products-grid .price {
  margin: 0;
}
.products-grid .avialability {
  font-size: 12px;
  line-height: 14px;
}
.products-grid .btn-sm {
  height: 40px;
}

.product-card-column {
  width: 100%;
  height: 100%;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-card-column .product-card__img {
  height: 275px;
  overflow: visible;
}
.product-card-column .date-public {
  margin: 16px 0 0;
}
.product-card-column .product-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product-card-column .product-card__info {
  margin: 16px 0 0;
}
.product-card-column .product-card__name {
  margin: 0 0 auto;
}
.product-card-column.is-hidden {
  display: none !important;
}

.product-card-slider {
  width: 100%;
  height: 275px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}
.product-card-slider__item {
  width: 100%;
  height: 275px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-card-slider__item.p-32 {
  padding: 32px;
}
.product-card-slider__item img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card-slider .slick-dots {
  bottom: -10px;
  position: absolute;
}

.filter-mobile {
  position: relative;
  z-index: 1;
  padding-right: 26px;
  display: none;
}
.filter-mobile .btn-filter-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-button, .btn-filter-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  border-radius: 11px;
  background: #fff;
  border: none;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  cursor: pointer;
  height: 36px;
  color: #000;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
}
.sort-button img, .btn-filter-mobile img {
  margin: 0 10px 0 0;
}
.sort-button:after, .btn-filter-mobile:after {
  content: "";
  margin: 0;
  border: none;
  position: absolute;
  right: 2px;
  top: 2px;
  background: url("../img/arrow-bottom.svg") no-repeat center;
  background-size: 6px;
  width: 24px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.wrapper-row .category-dropdown {
  display: none;
}

.buttons-navigation-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
}
.buttons-navigation-group .btn-toggle-product {
  margin: 0 auto;
  width: 100%;
}
.buttons-navigation-group .nav-link-arrow {
  width: 38px;
  height: 40px;
  min-width: 38px;
  display: none;
  fill: none;
  stroke: #000;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.0509803922) inset;
          box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.0509803922) inset;
}
.buttons-navigation-group .nav-link-arrow.disabled svg {
  opacity: 0.6;
}
.buttons-navigation-group .nav-link-arrow svg {
  width: 6px;
  height: 6px;
}
.buttons-navigation-group .nav-link-arrow-next svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.watched-section {
  overflow: hidden;
}

.product-card-slider.one-slide .slick-dots {
  display: none;
}

.category-menu {
  padding: 32px;
}

.category-menu-level {
  list-style: none;
  margin: 0;
  padding: 0;
}
.category-menu-level--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.category-item {
  position: relative;
  min-width: 224px;
}

.category-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.category-link svg {
  margin: 0 0 0 8px;
  fill: none;
  width: 12px;
  height: 12px;
  stroke: rgba(0, 0, 0, 0.6);
}
.category-link.is-active {
  color: #20815C;
}

/* ВСЕ подменю */
.category-menu-level {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-menu-level--2,
.category-menu-level--3 {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-left: 32px;
}

/* Показываем при активности родителя */
.category-item.is-open > .category-menu-level {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}