.authorization {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-authorization {
  max-width: 904px;
  width: 100%;
  margin: 0 auto;
}
.form-authorization .btn-login {
  margin: 0 auto;
  min-width: 200px;
}
.form-authorization .form-footer span {
  opacity: 0.6;
  display: block;
}
.form-authorization .form-footer a {
  margin: 4px auto 0;
}

.form-footer {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin: 24px auto 0;
}

.agreement-content {
  font-size: 14px;
  line-height: 22px;
}
.agreement-content p {
  margin: 0 0 24px;
}
.agreement-content p:last-child {
  margin: 0;
}

.form-box {
  width: 100%;
  position: relative;
  z-index: 1;
}
.form-box::after {
  content: "";
  margin: 8px 0 32px;
  display: block;
  width: 100%;
  height: 18px;
  background: url("../img/line-decor.png") no-repeat center;
  background-size: 100%;
}
.form-box:last-child {
  margin: 0;
}
.form-box:last-child::after {
  display: none;
}

.text-required {
  margin: 8px 0 32px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 22px;
}

.consent {
  margin: 16px 0 0;
  font-size: 14px;
  line-height: 22px;
}

.form-registration .label-title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.thanks-page h1 {
  margin: 0 auto;
}
.thanks-page .box-text {
  margin: 24px auto 40px;
  text-align: center;
  font-weight: 500;
}

.thanks-checked {
  margin: 0 auto 16px;
  max-width: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-authorization {
  min-width: 300px;
}

.btn-registration {
  min-width: 200px;
}