/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  .menu li a {
    width: 186px;
  }
  .products-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .product-card-slider__item, .product-card-column .product-card__img, .product-card-slider {
    height: 264px;
  }
  .pagination a {
    width: 57px;
  }
  .product-card-row__col {
    width: 190px;
  }
  .sales-page .pagination li:nth-child(8), .sales-page .pagination li:nth-child(9), .sales-page .pagination li:nth-child(10) {
    display: none;
  }
}
@media only screen and (max-width: 1400px) {
  .container {
    padding: 0 24px;
  }
  footer .logo {
    max-width: 250px;
  }
  .menu li a {
    width: 144px;
    height: 78px;
  }
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .product-card-slider__item, .product-card-column .product-card__img, .product-card-slider {
    height: 280px;
  }
  .product-card-row .list-labels {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 8px;
  }
  .product-card-row .list-labels li {
    margin: 0 8px 0 0;
  }
  .product-card-row__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 24px;
  }
}
@media only screen and (max-width: 1200px) {
  footer {
    font-size: 14px;
  }
  footer .logo {
    max-width: 157px;
  }
  .nav-user__btn.dropdown-toggle:after {
    display: none;
  }
  .nav-user__btn.dropdown-toggle span {
    display: none;
  }
  .logo {
    max-width: 260px;
  }
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
  .row {
    margin: 0 -12px;
  }
  .row > * {
    padding: 0 12px;
  }
  .logo {
    max-width: 200px;
  }
  header {
    padding: 15px 0;
  }
  .nav-user__btn {
    width: 38px;
    height: 38px;
    min-width: 38px;
    margin: 0;
  }
  h1, .h1 {
    font-size: 20px;
    line-height: 22px;
  }
  h3, .h3 {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 24px;
  }
  .label-title {
    font-size: 14px;
  }
  .btn {
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 20px;
  }
  input, textarea, select {
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 10px;
  }
  .form-footer {
    font-size: 12px;
    line-height: 20px;
  }
  footer {
    padding: 24px 0;
  }
  footer .logo {
    max-width: none;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 24px;
  }
  footer .logo img {
    max-width: 157px;
  }
  .footer-column {
    margin: 0 32px 0 0;
  }
  .agreement-content {
    font-size: 12px;
    line-height: 20px;
  }
  .agreement-content p {
    margin: 0 0 16px;
  }
  .agreement-content p:last-child {
    margin: 0;
  }
  .form-box::after, .text-required {
    margin: 0 0 24px;
  }
  .text-required, .consent {
    font-size: 12px;
    line-height: 20px;
  }
  .thanks-checked {
    max-width: 64px;
    margin: 0 auto 16px;
  }
  .thanks-page .box-text {
    margin: 16px auto 24px;
  }
  .link-group {
    font-size: 14px;
    line-height: 16px;
  }
  .link-group__item {
    font-weight: 500;
  }
  .password-page-v2 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .error-page__img {
    max-width: 323px;
    width: 100%;
    margin: 0 auto 40px;
  }
  .error-page__content {
    max-width: none;
    text-align: center;
    width: 100%;
  }
  .error-page .btn-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .user-menu {
    width: 320px;
    padding: 24px;
    top: -45px !important;
  }
  .nav-menu {
    margin: 0 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 14px;
    line-height: 16px;
  }
  .menu li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 6px 0 0;
  }
  .menu li a {
    height: 60px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .btn-registration, .btn-authorization {
    min-width: auto;
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 690px) {
  .link-developer {
    width: 100%;
    margin: 24px 0 0;
  }
  .footer-column {
    width: 100%;
    margin: 0 0 24px;
  }
  .nav-menu {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
  .nav-user {
    padding: 9px 0;
  }
  .nav-user .nav-user__btn-val {
    display: none;
  }
  .nav-user__dropdown .btn-cabinet {
    position: relative;
    z-index: 1;
  }
  .nav-user__dropdown .btn-cabinet::before {
    content: "";
    position: absolute;
    top: 0;
    right: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #F23139;
  }
  .menu li {
    padding: 0;
  }
  .menu li a {
    height: 48px;
  }
}
@media only screen and (max-width: 576px) {
  h1, .h1 {
    margin: 0 auto 24px;
  }
  header {
    padding: 9px 0;
  }
  header .container {
    padding: 0 16px;
  }
  header .row {
    margin: 0 -16px;
  }
  header .row > * {
    padding: 0 16px;
  }
  .logo {
    max-width: 157px;
  }
  .container {
    padding: 0 24px;
  }
  .row {
    margin: 0 -24px;
  }
  .row > * {
    padding: 0 24px;
  }
  .mb-32 {
    margin-bottom: 24px;
  }
  .page {
    padding: 16px 0;
  }
  .authorization {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .agreement-content p {
    margin: 0 0 10px;
  }
  .agreement-content p:last-child {
    margin: 0;
  }
  .authorization {
    padding: 34px 0;
  }
  .user-menu {
    width: calc(100vw - 24px);
    padding: 32px;
    border-radius: 12px;
    overflow-y: auto;
    right: -5px !important;
  }
  .user-menu__mobile-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 16px;
  }
  .user-menu__mobile-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
  }
  .user-menu__close {
    width: 24px;
    height: 24px;
    min-width: 24px;
    border-radius: 50%;
    border: none;
    background: #000;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
  .user-menu__close span {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .user-menu__close span::before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .user-menu__link {
    height: 48px;
    font-size: 16px;
  }
  .user-menu__action {
    height: 40px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 420px) {
  .btn {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 370px) {
  .btn {
    padding: 0 15px;
  }
  .nav-user .btn-notification {
    display: none;
  }
}
@media only screen and (max-width: 340px) {
  .container {
    padding: 0 16px;
  }
  .row {
    margin: 0 -16px;
  }
  .row > * {
    padding: 0 16px;
  }
}