@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Regular.eot");
  src: url("../fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Medium.eot");
  src: url("../fonts/Inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Inter/Inter-SemiBold.eot");
  src: url("../fonts/Inter/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Bold.eot");
  src: url("../fonts/Inter/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Bold.woff") format("woff"), url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  background: #FAFAFA;
  color: #010101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page {
  padding: 48px 0;
}

.page-p0 {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 12px;
  width: 100%;
  height: 52px;
  background: #efefef;
  color: #252525;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input.text-center, textarea.text-center, select.text-center {
  text-align: center;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

.label-title {
  width: 100%;
  margin: 0 auto 8px;
  font-weight: 600;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.label-title small {
  margin: 0 0 0 auto;
  opacity: 0.48;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  height: 52px;
  border-radius: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn img {
  margin: 0 10px 0 0;
  width: 16px;
}

.btn-radius {
  border-radius: 12px;
}

.btn-md {
  height: 48px;
  font-size: 14px;
}

.btn-lg {
  height: 68px;
}

.btn-black {
  color: #fff;
  background: #000;
}
.btn-black:hover, .btn-black:focus, .btn-black.active {
  background: #383E40;
  color: #fff;
}
.btn-black.dropdown-toggle:after {
  margin: 0 0 0 auto;
  width: 12px;
  height: 12px;
  background: url("../img/arrow-bottom-white.svg") no-repeat center;
  background-size: 100%;
  border: none;
}

.drodpown-toggle.show:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-border {
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}
.btn-border:hover, .btn-border:focus, .btn-border.active {
  background: #383E40;
  color: #fff;
}

.btn-grey {
  -webkit-box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.0509803922) inset;
          box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.0509803922) inset;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
}
.btn-grey:hover, .btn-grey:focus, .btn-grey.active {
  background: #383E40;
  color: #fff;
}
.btn-grey:hover img, .btn-grey:focus img, .btn-grey.active img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.btn-black-grey {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.btn-black-grey:hover, .btn-black-grey:focus, .btn-black-grey.active {
  background: #383E40;
  color: #fff;
}

.btn-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btn-group .btn {
  margin: 0 16px 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.btn-group .btn:last-child {
  margin: 0;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn {
  border-radius: 40px;
}

.btn-group > .btn-group:not(:first-child), .btn-group > :not(.btn-check:first-child) + .btn {
  margin: 0;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.text-decoration {
  text-decoration: underline;
}

a.color-black {
  color: #000;
}
a.color-black:hover {
  color: #252525;
}

a.color-white {
  color: #fff;
}
a.color-white:hover {
  color: #383E40;
}

.color-grey {
  color: rgba(0, 0, 0, 0.6);
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  padding: 0 48px;
  max-width: 1900px;
}

.row {
  margin: 0 -24px;
}
.row > * {
  padding: 0 24px;
}

h1, .h1 {
  width: 100%;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  margin: 0 auto 32px;
}

h2, .h2 {
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 0 24px;
}

h3, .h3 {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: normal;
  margin: 0 0 32px;
}

h3.title-decor {
  margin: 0 0 24px;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
h3.title-decor:after {
  content: "";
  width: 100%;
  height: 10px;
  background: url("../img/line-decor.png") no-repeat center;
  background-size: cover;
  margin: 0 0 0 21px;
}
h3.title-decor:before {
  content: "";
  width: 3px;
  min-width: 3px;
  height: 29px;
  background: #000;
  border-radius: 6px;
  margin: 0 24px 0 0;
}

.m-32 {
  margin: 32px 0;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.p-32 {
  padding: 32px 0;
}

.p-48 {
  padding: 48px 0;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.link-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 16px auto 0;
}
.link-group__item {
  margin: 0 24px 0 0;
  font-weight: 600;
  color: #000;
  opacity: 0.6;
}
.link-group__item:hover {
  opacity: 1;
}
.link-group__item:last-child {
  margin: 0;
}

.nav-breadcrumb {
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.breadcrumb {
  width: 100%;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.48);
}

.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb-item a {
  color: rgba(0, 0, 0, 0.48);
}
.breadcrumb-item a:hover {
  color: #000;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
  margin: 0 0 0 24px;
}

.breadcrumb-item + .breadcrumb-item::before {
  margin: 0 24px 0 0;
  content: "";
  background: url("../img/arrow-breadcrumb.svg") no-repeat center;
  background-size: 100%;
  height: 8px;
  width: 5px;
  padding: 0;
}

.border-column {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.text-small {
  font-size: 14px;
  line-height: 22px;
}

.section-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.list-labels {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 8px;
  font-weight: 500;
  line-height: 10px;
  color: #000;
}
.list-labels__item {
  padding: 3px 8px;
  height: 16px;
  border-radius: 10px;
  margin: 0 4px 0 0;
}
.list-labels__item:last-child {
  margin: 0;
}
.list-labels__item.bg-green {
  background: #20815C;
  color: #fff;
}
.list-labels__item.label-new {
  margin: 0 auto 0 0;
}

.link-add-favorite {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/favorite-icon.svg") no-repeat center;
  background-size: 100%;
}

.price {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.nav-tabs {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.05);
  padding: 2px;
}
.nav-tabs .nav-link {
  border: none;
  height: 44px;
  border-radius: 11px;
  margin: 0;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 73px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #7e7c7a url("../img/arrow-right.svg") no-repeat center;
  background-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #000 url("../img/arrow-right.svg") no-repeat center;
  background-size: 16px;
}
.slick-arrow.slick-disabled {
  opacity: 0;
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  margin: 0 0 10px;
}
.label-checkbox:last-child {
  margin: 0;
}
.label-checkbox input {
  display: none;
}
.label-checkbox input:checked ~ .label-checkbox__custom {
  border-color: #20815C;
  background: #20815C url("../img/checked-icon.svg") no-repeat center;
  background-size: 14px;
}
.label-checkbox__custom {
  margin: 0 10px 0 0;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #fff;
  width: 24px;
  height: 24px;
  min-width: 24px;
  cursor: pointer;
}
.label-checkbox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.label-checkbox__text img {
  margin: 0 10px 0 0;
}

.pro-label {
  background: #20815C;
  color: #fff;
  margin: 0 0 0 10px;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 8px;
  line-height: 10px;
  font-weight: bold;
  text-transform: uppercase;
}