@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Regular.eot");
  src: url("../fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Medium.eot");
  src: url("../fonts/Inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Inter/Inter-SemiBold.eot");
  src: url("../fonts/Inter/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Bold.eot");
  src: url("../fonts/Inter/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Bold.woff") format("woff"), url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  background: #FAFAFA;
  color: #010101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page {
  padding: 48px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 12px;
  width: 100%;
  height: 52px;
  background: #efefef;
  color: #252525;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: rgba(37, 37, 37, 0.4);
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input.text-center, textarea.text-center, select.text-center {
  text-align: center;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

.label-title {
  width: 100%;
  margin: 0 auto 8px;
  font-weight: 600;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.label-title small {
  margin: 0 0 0 auto;
  opacity: 0.48;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  height: 52px;
  border-radius: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-black {
  color: #fff;
  background: #000;
}
.btn-black:hover, .btn-black:focus {
  background: #383E40;
  color: #fff;
}

.btn-border {
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}
.btn-border:hover, .btn-border:focus, .btn-border.active {
  background: #383E40;
  color: #fff;
}

.btn-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btn-group .btn {
  margin: 0 16px 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.btn-group .btn:last-child {
  margin: 0;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn {
  border-radius: 40px;
}

.btn-group > .btn-group:not(:first-child), .btn-group > :not(.btn-check:first-child) + .btn {
  margin: 0;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.text-decoration {
  text-decoration: underline;
}

a.color-black {
  color: #000;
}
a.color-black:hover {
  color: #252525;
}

a.color-white {
  color: #fff;
}
a.color-white:hover {
  color: #383E40;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  padding: 0 48px;
  max-width: 1900px;
}

.row {
  margin: 0 -24px;
}
.row > * {
  padding: 0 24px;
}

h1, .h1 {
  width: 100%;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  margin: 0 auto 32px;
}

h2, .h2 {
  width: 100%;
  margin: 0;
}

h3, .h3 {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: normal;
  margin: 0 0 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.link-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 16px auto 0;
}
.link-group__item {
  margin: 0 24px 0 0;
  font-weight: 600;
  color: #000;
  opacity: 0.6;
}
.link-group__item:hover {
  opacity: 1;
}
.link-group__item:last-child {
  margin: 0;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}