@import "vars"

footer
    color: #fff
    background: #000
    padding: 48px 0
    font-weight: 500
    box-shadow: 0 4px 25px -5px rgba(0, 0, 0, 0.4)

.link-developer
    display: flex
    align-items: center
    margin: 0 0 0 auto
    color: #fff
    span
        font-weight: 500
        line-height: 18px
        opacity: 0.48
    img
        max-width: 40px
        margin: 0 0 0 8px

.menu-documents
    font-weight: 500
    line-height: 18px
    li
        margin: 0 0 14px
        &:last-child
            margin: 0
        a
            color: #fff
            &:hover
                opacity: 0.6

.footer-column
    margin: 0 48px

.footer-link
    margin: 14px 0 0

/* Modal */
.modal-dialog
    max-width: 1000px

.modal-content
    border: none
    border-radius: 12px
    background: #fff
    padding: 32px

.modal-header
    border: none
    display: flex
    align-items: center
    padding: 0
    margin: 0 0 32px
    .btn-close
        box-sizing: border-box
        background: #000
        padding: 6px
        margin: 0
        position: relative
        z-index: 1
        opacity: 1
        width: 24px
        min-width: 24px
        height: 24px
        stroke: #fff
        fill: #fff
        border: none
        border-radius: 50%
        @include d-flex

.modal-title
    margin: 0 auto 0 0

.modal-body
    padding: 0

.popular-cities
    display: flex
    align-items: stretch
    flex-wrap: wrap
    gap: 10px
    margin: 0 0 32px
    &:last-child
        margin: 0

/* Chips */
.chip
    // height: 36px
    padding: 10px 24px
    border-radius: 18px
    border: 2px solid rgba(#000, .05)
    background: #fff
    height: auto
    color: #000
    font-size: 14px
    font-weight: 600
    line-height: 16px
    cursor: pointer

    &:hover
        border-color: #000

    &.active
        background: #000
        color: #fff
        border-color: #000

/* Districts */
.districts-title
    font-size: 18px
    line-height: 20px
    font-weight: 600
    margin-bottom: 16px

.districts
    margin: 0 0 32px

.districts-list
    display: flex
    align-items: stretch
    flex-wrap: wrap
    gap: 10px

/* Cities list */
.cities-wrapper
    max-height: 484px
    overflow-y: auto
    padding-right: 10px
    border-radius: 6px
    box-shadow: inset 0 -48px 32px -32px rgba(0, 0, 0, 0.05)
    &::-webkit-scrollbar
        width: 4px
    &::-webkit-scrollbar-track
        background: transparent
    &::-webkit-scrollbar-thumb
        background: #9A9C9F
        border-radius: 4px

.cities-columns
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 20px

.cities-col-list
    width: 100%
    position: relative
    z-index: 1
    padding: 0 0 0 28px

.cities-col a
    display: block
    color: #000
    font-size: 14px
    text-decoration: none
    margin-bottom: 20px

    &:hover
        text-decoration: underline
        color: $brown

.letter
    font-size: 16px
    line-height: 18px
    font-weight: 600
    position: absolute
    left: 0
    top: 0
