@import "vars"

.authorization
    height: 100%
    display: flex
    align-items: center    

.form-authorization
    max-width: 904px
    width: 100%
    margin: 0 auto
    .btn-login
        margin: 0 auto
        min-width: 200px
    .form-footer
        span
            opacity: 0.6
            display: block
        a
            margin: 4px auto 0    

.form-footer
    font-size: 14px
    line-height: 22px
    text-align: center
    margin: 24px auto 0

.agreement-content
    font-size: 14px
    line-height: 22px
    p
        margin: 0 0 24px
        &:last-child
            margin: 0

